@use 'sass:list';
@use 'sass:math';

$transformare_i:scaleY(1) !default;
$transformare_f:scaleY(0.2) !default;
$setare-server:black !default;
$nrimag: <%- randNrImgs %>;


.gallery-a{
	width:500px;
	height:700px;
	border:15px solid brown;
	border-image: url("/resources/images/wood_texture.jpg")5;

	position:relative;
	overflow:hidden;
    margin-left: auto;
    margin-right: auto;
	margin-bottom:5rem;
}
.gallery-a figcaption{
	position: relative;
	bottom:22px;
	background:rgba(255,255,255,0.7);
	text-align:center;
    width:500px;
}
.gallery-a figure{
	position:relative;
	width:500px;
	height:700px;
}


#grid-animated-gallery figure{	
	position:absolute;
	left:-40px;
	top:-16px;
	animation-name:gal_exemplu;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-duration:3s * $nrimag;	
	transform-origin:center center;
	overflow:hidden;
}

#grid-animated-gallery:hover figure{
	animation-play-state: paused;
}


@for $i from 0 through $nrimag - 1{
    #grid-animated-gallery figure:nth-of-type(#{$nrimag - $i}){
        animation-delay:3s * ($i);
    }
}




/*#grid-animated-gallery figure:nth-of-type(7){*//* cea mai de deasupra*/
/*	animation-delay:0s;
}
#grid-animated-gallery figure:nth-of-type(6){
	animation-delay:3s;
}
#grid-animated-gallery figure:nth-of-type(5){
	animation-delay:6s;
}
#grid-animated-gallery figure:nth-of-type(4){
	animation-delay:9s;
}
#grid-animated-gallery figure:nth-of-type(3){
	animation-delay:12s;
}
#grid-animated-gallery figure:nth-of-type(2){
	animation-delay:15s;
}
#grid-animated-gallery figure:nth-of-type(1){
	animation-delay:18s;
}*/

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/

$percent: math.div((100 * 3), ($nrimag * 3));


@keyframes gal_exemplu{ 
	0% {z-index:15;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
	#{math.div($percent, 4)}%{transform:scaleY(1);} /*transformare inceput disparitie*/
	#{math.div($percent, 2)+0.001}%{transform:$transformare_f rotate(0deg);} /* de  aici doresc sa descresc si opacitatea;*/
	#{math.div($percent, 2)+0.002}%{transform-origin: left center;}
	#{$percent}%{opacity:1;z-index:15; transform:rotate(128deg) scaleY(0.1);}
	#{$percent+0.001}%{opacity:0; z-index:-15;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
	#{100 - $percent}%{opacity:0;transform:scaleY(1) rotate(0deg);z-index:-10;}	
	#{100 - $percent+0.001}%{opacity:0.5;z-index:0;}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{opacity:1;z-index:0;}
}

@media screen and (max-width:1500px){
	#animated-gallery{
		display: none;
	}
}