  
  @media screen and (min-width:1501px){

    #grid-static-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    
    }
    #grid-static-gallery img{
      width: 100%;
    }
    #grid-static-gallery figcaption{
      text-align:center;
    }

    #grid-static-gallery figure{
      transition: 1.1s
    }

    #grid-static-gallery figure:hover{
      font-size: large;
      filter: contrast(200%);
    }

    #grid-static-gallery > figure:nth-child(1) {
      grid-area: 1/1/2/2;
    }
    
    #grid-static-gallery > figure:nth-child(2) {
      grid-area: 1/3/2/4;
    }
    
    #grid-static-gallery > figure:nth-child(3) {
      grid-area: 2/2/3/3;
    }
    
    #grid-static-gallery > figure:nth-child(4) {
      grid-area: 3/1/4/2;
    }
    
    #grid-static-gallery > figure:nth-child(5) {
      grid-area: 3/3/4/4;
    }
    
    #grid-static-gallery > figure:nth-child(6) {
      grid-area: 4/2/5/3;
    }
    
    #grid-static-gallery > figure:nth-child(7) {
      grid-area: 5/1/6/2;
    }
    
    #grid-static-gallery > figure:nth-child(8) {
      grid-area: 5/3/6/4;
    }
    
    #grid-static-gallery > figure:nth-child(9) {
      grid-area: 6/2/7/3;
    }
    
    #grid-static-gallery > figure:nth-child(10) {
      grid-area: 7/1/8/2;
    }
    
    #grid-static-gallery > figure:nth-child(11) {
      grid-area: 7/3/8/4;
    }
    
    #grid-static-gallery > figure:nth-child(12) {
      grid-area: 8/2/9/3;
    }
  }
  @media screen and (max-width:1500px){
    #grid-static-gallery {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      grid-gap: 15px;
    
    }
    #grid-static-gallery img{
      width: 100%;
    }
    #grid-static-gallery figcaption{
      text-align:center;
    }

    #grid-static-gallery figure{
      transition: 1.1s
    }

    #grid-static-gallery figure:hover{
      font-size: large;
      filter: contrast(200%);
    }
  }


  @media screen and (max-width:1000px){
    #grid-static-gallery {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    
    }
    #grid-static-gallery img{
      width: 100%;
    }
    #grid-static-gallery figcaption{
      text-align:center;
    }

    #grid-static-gallery figure{
      transition: 1.1s
    }

    #grid-static-gallery figure:hover{
      font-size: large;
      filter: contrast(200%);
    }
  }