<!DOCTYPE html>
<html lang="en">
    <head>
        
<!-- Ex2 -->
        
<!-- Ex3 -->
        <title>ERROR 404</title>

        <%- include("../fragments/head.ejs") %>
<!-- Ex5 -->
    </head>
    <body>
        <a id="top"></a>
        <!--header-->
        <%- include("../fragments/header.ejs") %>
        <main>
            <section id="error-title">
                <h1>ERROR 404</h1>
                <img src="../../resources/images/Error_404.png" alt="Error_404" width="500" height="333">
                <p>
                    Seems like you tried to enter a page that doesn't exist.
                </p>
            </section>
        </main>
<!-- Ex13-14 -->
        <!--footer-->
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>