<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="resources/css/index.css" rel="stylesheet">
<!-- Ex2 -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="tech, laptop, phone, parts">
        <meta name="description" content="Tech Shop. Find laptops at a super price. High-end phones. Technology in your hand.">
        <meta name="author" content="Nicolau George-Alexandru">
<!-- Ex3 -->
        <title>
            Home - Ninzero Tech Garage
        </title>

        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
<!-- Ex5 -->
    </head>
    <body>
        <a id="top"></a>
        <header>
            <h1>Ninzero Tech Garage</h1>
            <nav>
                <ul class="menu">
                    <li>Home
                        <ul > <!-- Ex6 -->
                            <li><a href="#front-page">Front page</a></li>
                            <li><a href="#latest">Latest</a></li>
                            <li>
                                <a href="#info">Info</a>
                                <ul>
                                    <li><a href="#FAQ">FAQ</a></li>
                                </ul>
                            </li>
                            <li><a href="#products">Products</a></li>
                            <li><a href="#basket">Basket</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        
        <main>
            <div id="layout">
                <div class="grid" id="div1">
                    <p style="font-size: 25px">
                        <b>Subscription</b> for 5 euro and you can get your hands on weekly price 
                        cuts on your favorite items.<br>
                    </p>   
                    <p style="font-size: 25px">
                        
                        <b>Stock</b> for the latest graphics cards has arrived yesterday. 
                        For the chance to get a piece, enroll to our newsletter.
                    </p> 
                </div>
                <div class="grid" id="div2">
                      <p style="font-size: 25px">
                        <b>TABLE</b>
                      </p>
                </div>
                <div class="grid" id="div3">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                
                <div class="grid" id="div4">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and mor  e recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div5">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div6">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div7">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="grid" id="div8">
                    <p style="text-align:center" >
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including 
                        versions of Lorem Ipsum.
                    </p>
                </div>
                <section id="front-page">
                    <h2>
                        Front page
                    </h2>
                    <p>
                        Your convenient <b>Tech Shop</b> from 1999.
                    </p>
    
                    <p>
                        <q>Always connected to the <strong>Future</strong>.</q>
                    </p>
                </section>
                <!-- Ex7-8-12 -->
                <section id = "info">
                    <h2>
                        Info
                    </h2>
                        <section id = "FAQ">
                            <h3>
                                Frequently Asked Questions    
                            </h3>
                                <ul>
                                    <li><b>What is the repair policy?</b></li>
                                    
                                        <li>The maximum number of days that the product can be in the service shop is 15 days from the moment the issue whas presented to our support staff or the authorized service center.</li>
                                    
                                    <li><b>What is the return policy?</b></li>
                                    
                                        <li>Every client has the possibility to return the product in the next 14 days from the moment he got in the possesion of the item.</li>
                                </ul>
                        </section>
                </section>
                <section id = products>
                    <h2>
                        Products
                    </h2> <!-- Ex11 -->
                            <iframe name="product_iframe" width="500" height="350" src="https://www.youtube.com/embed/7vpXMiOzIzQ"></iframe>
                        <ul>
                            <li>Laptops - <a href="https://www.youtube.com/embed/7vpXMiOzIzQ" target="product_iframe">HP Omen 15 2020 Review</a></li>
                                
                            <li>Phones - <a href="https://www.youtube.com/embed/PAJyA4pZwbs" target="product_iframe">Apple iPhone 13 Pro Review</a></li>
                                
                            <li>Components - <a href="https://www.youtube.com/embed/YjcxrfEVhc8" target="product_iframe">Nvidia GeForce RTX 3090 Review</a></li>        
                        </ul>
                        <details>
                            <summary>If you are interested</summary>
                            <ul>
                                <li>
                                    For more information about the comparisons between components you can watch the following video <a href="https://www.youtube.com/watch?v=wAX1lh985do" target="_blank">here</a>.
                                </li>
                            </ul>
                        </details>
                </section>
            </div>
            
        </main>
<!-- Ex13-14 -->
        <footer>
            <h2>
                Contact
            </h2>
                <address>
                    <ul>
                        <li>Email Address - <a href="mailto:ninzero_tech_garage@support.com">ninzero_tech_garage@support.com</a></li>
                        <li>Phone Number - <a href="tel:0771590461">0771 590 461</a></li>
                        <li>Location - Future Street 49, Bucharest, Romania</li>
                    </ul> 
                    <small>Created by Nicolau George-Alexandru. © <time datetime="2021">2021</time></small>
                </address>
                
            <a id="top-button" href="#top" title="Go back to top">Back to top of page</a>

        </footer>
    </body>
</html>