<footer>
    <h2>
        Contact
    </h2>
        <address>
            <ul>
                <li>Email Address - <a href="mailto:ninzero_tech_garage@support.com">ninzero_tech_garage@support.com</a></li>
                <li>Phone Number - <a href="tel:0771590461">0771 590 461</a></li>
                <li>Location - Future Street 49, Bucharest, Romania</li>
            </ul> 
            <small>Created by Nicolau George-Alexandru. © <time datetime="2021">2021</time></small>
        </address>
    <div id="link-top">
        <a class="fas fa-caret-up fa-2x" id="top-button" href="#top" title="Go back to top"></a>
        <a id="right-button"></a>
        <a id="left-button"></a>
    </div>   
</footer>