<header>
    <h1 id="front-title">Ninzero Tech Garage</h1>
    <h2 id="banner">
        This is an university project.
    </h2>
    <p id="watermark">
        Nicolau George-Alexandru
    </p>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resources/images/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="menu">
            <li><div id="home">Home</div>
                <div id="home-icon" class="fas fa-regular fa-house"></div>
                <ul class="submenu"> <!-- Ex6 -->
                    <li><a href="/index/#front-page">Front page</a></li>
                    <li><a href="/index/#layout">News</a></li>
                </ul>
            </li>
            <li><div>About</div>
                <ul class="submenu">
                    <li><a href="/index/#info">Info</a></li>
                    <li><a href="/index/#FAQ">FAQ</a></li>
                    <li><a href="/history">History</a></li>
                </ul>
            <li><div>Products</div>
                <ul class="submenu">
                    <li><a href="/index#categories">Categories</a></li>
                    <li><a href="/products">All Products</a></li>
                    <% for (let i = 0; i < typesMenu.length; i++){ %>
                        <li><a href="/products?type=<%-typesMenu[i]%>"><%-typesMenuCaps[i]%></a></li>
                    <% } %>
                </ul>
            </li>
            <li><div>Gallery</div>
                <ul class="submenu">
                    <li><a href="/phones">Phones</a></li>
                    <li><a href="html/pcparts.html">PC Parts</a></li>
                </ul>
            </li>       
            <li><a href="#basket">Basket</a></li>
        </ul>
    </nav>
</header>